header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: beige;
}
header nav {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 100, 0, 0.889);
  display: none;
  gap: 30px; /*hiding by default --- use to bring back display flex when user clicks menu button */
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
header nav a {
  color: white;
  text-decoration: none;
}
main {
  text-align: center;
  padding: 20px;
  height: 5000px;
}
.opened-nav {
  display: flex;
  animation: slide-in-left 0.3s ease-in-out forwards;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.closing-nav {
  display: none;
}
